.vscode/**
.vscode-test/**
out/**
src/**
.gitignore
.yarnrc
.github
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

test
webpack.config.js
node_modules

images/snippets-viewer-contributions.png
images/snippets-viewer-installation.png
images/snippets-viewer-settings.png
images/snippets-viewer-tree-view.png